{% extends 'base.html' %}

{% block content %}
    <div class='text-center m-2 p-2 account-bg'>
        <h6 data-translate-flag='true'>aby uzyskać tłumaczenie na język polski najedź myszką na ikonę: <span class='flag-icon flag-icon-pl'></span> znajdującą się obok pytania lub odpowiedzi</h6>
        <button class='btn btn-secondary' type='button' id='draw-new-question-btn'><i class="far fa-file"></i> random question</button>
        <button class='btn btn-secondary' type='button' id='check-question-btn'><i class="fas fa-tasks"></i> check question</button>
        <p>
            main topic:
            <span id='main-topic-ger'>...</span>
            <span id='main-topic-pl' class='flag-icon flag-icon-pl' data-translate-flag='true' data-toggle='tooltip' data-placement='top'></span><br>
            under topic:
            <span id='under-topic-ger'>...</span>
            <span id='under-topic-pl' class='flag-icon flag-icon-pl' data-translate-flag='true' data-toggle='tooltip' data-placement='top'></span>
        </p>
    </div>
    <div class='account-bg m-2 p-2'>
        <div class='text-center'>
            <p>Question:
                <span id='question-id'>
                    ...
                </span>
            </p>
            <p>
                <span id='question-ger'>
                    ...
                </span>
                <span id='question-pl' data-translate-flag='true' data-toggle="tooltip" data-placement="top">
                    <span class='flag-icon flag-icon-pl'></span>
                </span>
            </p>
        </div>
        <div class='container'>
            <div class='form-check'>
                <div class='col-6 offset-3'>
                    <input class='form-check-input' type='radio' name='answers' id='answer-A'>
                    <label class='form-check-label' for='answer-A' id='answer-A-label'>
                        ...
                    </label>
                    <span id='answer-A-pl' class='flag-icon flag-icon-pl' data-translate-flag='true' data-toggle='tooltip' data-placement='top'></span>
                </div>
            </div>
            <div class='form-check'>
                <div class='col-6 offset-3'>
                    <input class='form-check-input' type='radio' name='answers' id='answer-B'>
                    <label class='form-check-label' for='answer-B' id='answer-B-label'>
                        ...
                    </label>
                    <span id='answer-B-pl' class='flag-icon flag-icon-pl' data-translate-flag='true' data-toggle='tooltip' data-placement='top'></span>
                </div>
            </div>
            <div class='form-check'>
                <div class='col-6 offset-3'>
                    <input class='form-check-input' type='radio' name='answers' id='answer-C'>
                    <label class='form-check-label' for='answer-C' id='answer-C-label'>
                        ...
                    </label>
                    <span id='answer-C-pl' class='flag-icon flag-icon-pl' data-translate-flag='true' data-toggle='tooltip' data-placement='top'></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id='modal-body'>
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block javascript %}
    <script>

        makeQuestionsData = () => {
            const questions = [];
            let nextQuestion;
            let answersGer;

            {% for question in all_questions %}
                nextQuestion = {};
                nextQuestion.questionId = parseInt('{{ question.question_id }}');
                nextQuestion.mainTopicGer = '{{ question.main_topic_ger }}';
                nextQuestion.mainTopicPl = '{{ question.main_topic_pl }}';
                nextQuestion.underTopicGer = '{{ question.under_topic_ger }}';
                nextQuestion.underTopicPl = '{{ question.under_topic_pl }}';
                nextQuestion.questionGer = '{{ question.question_ger }}';
                nextQuestion.questionPl = '{{ question.question_pl }}';
                answersGer = [];
                answersGer.push('{{ question.answer_a_ger }}');
                answersGer.push('{{ question.answer_b_ger }}');
                answersGer.push('{{ question.answer_c_ger }}');
                nextQuestion.answersGer = answersGer;
                answersPl = [];
                answersPl.push('{{ question.answer_a_pl }}');
                answersPl.push('{{ question.answer_b_pl }}');
                answersPl.push('{{ question.answer_c_pl }}');
                nextQuestion.answersPl = answersPl;
                nextQuestion.correctAnswerGer = '{{ question.correct_answer_ger }}';
                questions.push(nextQuestion);
            {% endfor %}

            return questions;
        }

        uncheckedRadios = () => {
            document.querySelector('#answer-A').checked = false;
            document.querySelector('#answer-B').checked = false;
            document.querySelector('#answer-C').checked = false;
        }

        prepareQuestion = (question) => {
            document.querySelector('#question-id').textContent = question.questionId;
            document.querySelector('#main-topic-ger').textContent = question.mainTopicGer + ' ';

            $(function(){
                $('#main-topic-pl').tooltip('dispose').tooltip({title:question.mainTopicPl}).tooltip();
            })

            document.querySelector('#under-topic-ger').textContent = question.underTopicGer + ' ';

            $(function(){
                $('#under-topic-pl').tooltip('dispose').tooltip({title:question.underTopicPl}).tooltip();
            })

            document.querySelector('#question-ger').textContent = question.questionGer;

            $(function(){
                $('#question-pl').tooltip('dispose').tooltip({title:question.questionPl}).tooltip();
            })

            const shuffledAnswerIndexs = shuffleQuestionsAnswer(); // returns array 0,1,2 in random order
            document.querySelector('#answer-A-label').textContent = question.answersGer[shuffledAnswerIndexs[0]];
            document.querySelector('#answer-B-label').textContent = question.answersGer[shuffledAnswerIndexs[1]];
            document.querySelector('#answer-C-label').textContent = question.answersGer[shuffledAnswerIndexs[2]];

            document.querySelector('#answer-A').value = question.answersGer[shuffledAnswerIndexs[0]];

            $(function(){
                $('#answer-A-pl').tooltip('dispose').tooltip({title:question.answersPl[shuffledAnswerIndexs[0]]}).tooltip();
            })

            document.querySelector('#answer-B').value = question.answersGer[shuffledAnswerIndexs[1]];

            $(function(){
                $('#answer-B-pl').tooltip('dispose').tooltip({title:question.answersPl[shuffledAnswerIndexs[1]]}).tooltip();
            })

            document.querySelector('#answer-C').value = question.answersGer[shuffledAnswerIndexs[2]];

            $(function(){
                $('#answer-C-pl').tooltip('dispose').tooltip({title:question.answersPl[shuffledAnswerIndexs[2]]}).tooltip();
            })
            
            uncheckedRadios();
        }

        drawQuestion = () => {
            const randomNumber = Math.floor(Math.random() * 600) + 1;
            const questions = makeQuestionsData();
            const simpleQuestion = questions[randomNumber];
            prepareQuestion(simpleQuestion);
        }

        shuffleQuestionsAnswer = () => {
            const array = [0,1,2];
            array.sort(()=>Math.random()-0.5);
            return array;
        }

        getUserAnswer = () => {
            let userAnswer;
            try {
                userAnswer = document.querySelector('input[name="answers"]:checked').value;
            }
            catch (err){
                userAnswer = 'no answer';
            }
            return userAnswer;
        }

        checkQuestion = () => {
            const userAnswer = getUserAnswer();
            const questionId = parseInt(document.querySelector('#question-id').textContent);
            const allQuestions = makeQuestionsData();
            const correctAnswer = allQuestions[questionId-1].correctAnswerGer; // index in array from 0, questions from 1
            const modalBody = document.querySelector('#modal-body');
            userAnswer == correctAnswer ? modalBody.textContent= 'correct' : modalBody.textContent = 'false';
            $("#exampleModal").modal()
        }

        const drawNewQuestionButton = document.querySelector('#draw-new-question-btn');
        drawNewQuestionButton.addEventListener('click',drawQuestion);

        const checkQuestionButton = document.querySelector('#check-question-btn');
        checkQuestionButton.addEventListener('click',checkQuestion);

        drawQuestion();
        showHideTranslate();

    </script>
{% endblock %}