{% extends 'base.html' %}

{% block content %}
    <div class='text-center m-2 p-2 account-bg'>
        <button class='btn btn-secondary' type='button' id='new-test-btn'><i class="far fa-file"></i> new test</button>
        <button class='btn btn-secondary' type='button' id='check-test-btn'><i class="fas fa-tasks"></i> check test</button>
        <button class='btn btn-secondary' type='button' data-toggle="modal" data-target="#exampleModal" id='check-test-btn'><i class="fas fa-info"></i> test info</button>
    </div>

    <div id='test'>
    </div>

    <h4 class='text-center'>next topic from this test</h4>
    <div class='row text-center m-2 p-2 account-bg'>
        <div class='col'>
            <button class='btn btn-secondary' type='button' id='show-topic-1-questions-btn'><i class="fas fa-fish"></i> fisch build</button>
        </div>
        <div class='col'>
            <button class='btn btn-secondary' type='button' id='show-topic-2-questions-btn'><i class="fas fa-hand-holding-water"></i> water protection</button>
        </div>
        <div class='col'>
            <button class='btn btn-secondary' type='button' id='show-topic-3-questions-btn'><i class="fas fa-fist-raised"></i> fishing equipment</button>
        </div>
        <div class='col'>
            <button class='btn btn-secondary' type='button' id='show-topic-4-questions-btn'><i class="fas fa-shopping-basket"></i> handling of caught fish</button>
        </div>
        <div class='col'>
            <button class='btn btn-secondary' type='button' id='show-topic-5-questions-btn'><i class="fas fa-gavel"></i> law</button>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id='correct-answer-result'>correct answer</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block javascript %}
    <script>

        let selectedQuestionsGlobal = [];

        chooseQuestionBetween = (min,max) => {
            return Math.floor(Math.random()*(max-min+1))+min;
        }
        
        choose12uniqueQuestionBetween = (min,max) => {
            const questions = [];
            let newQuestion;
            do {
                newQuestion = chooseQuestionBetween(min,max);
                if(!questions.includes(newQuestion)){
                    questions.push(newQuestion)
                }
            } while(questions.length != 12);

            return questions
        }

        chosseTestQuestionsIds = () => {
            const testQuestionsId = [];
            testQuestionsId.push(choose12uniqueQuestionBetween(0,119));
            testQuestionsId.push(choose12uniqueQuestionBetween(120,239));
            testQuestionsId.push(choose12uniqueQuestionBetween(240,359));
            testQuestionsId.push(choose12uniqueQuestionBetween(360,479));
            testQuestionsId.push(choose12uniqueQuestionBetween(480,599));

            return testQuestionsId;
        }

        buildQuestionTemplateQuestionText = (questionNumer,questionText) => {
            // results for example <p>1<span>. question text</span></p>
            const questionHeader = document.createElement('p');
            questionHeader.textContent = questionNumer;
            const questionTextSpan = document.createElement('span');
            questionTextSpan.textContent = `. ${questionText}`;
            questionHeader.appendChild(questionTextSpan);
            return questionHeader;
        }

        buildQuestionTemplateQuestionRadio = (radioValue, groupName,text) => {
            const radioDiv = document.createElement('div');
            radioDiv.classList.add('form-check');
            const radioBtn = document.createElement('input');
            radioBtn.type = 'radio';
            radioBtn.value = radioValue;
            radioBtn.classList.add('form-check-input');
            radioBtn.name = groupName;
            const radioLabel = buildQuestionTemplateQuestionRadioLabel(text);

            radioDiv.appendChild(radioBtn);
            radioDiv.appendChild(radioLabel);

            return radioDiv;
        }

        buildQuestionTemplateQuestionRadioLabel = (text) => {
            const radioLabel = document.createElement('label');
            radioLabel.textContent = text;
            radioLabel.classList.add('form-check-label');
            return radioLabel;
        }

        shuffleQuestionsAnswer = () => {
            const array = [0,1,2];
            array.sort(()=>Math.random()-0.5);
            return array;
        }

        buildQuestionTemplate = (questionNumber,questionText,topic,answersGer) => {

            const shuffledAnswerIndexs = shuffleQuestionsAnswer(); // returns array 0,1,2 in random order

            const testDiv = document.querySelector('#test');

            const questionDiv = document.createElement('div');
            questionDiv.classList.add('form-check', 'account-bg','mx-2','my-2','py-2');
            questionDiv.dataset.topic = translateTopicToTopicIdData(topic);

            const idParagraph = buildQuestionTemplateQuestionText(questionNumber,questionText);
            
            const answerAinput = buildQuestionTemplateQuestionRadio(answersGer[shuffledAnswerIndexs[0]],'answer-'+questionNumber,answersGer[shuffledAnswerIndexs[0]]);

            const answerBinput = buildQuestionTemplateQuestionRadio(answersGer[shuffledAnswerIndexs[1]],'answer-'+questionNumber,answersGer[shuffledAnswerIndexs[1]]);

            const answerCinput = buildQuestionTemplateQuestionRadio(answersGer[shuffledAnswerIndexs[2]],'answer-'+questionNumber,answersGer[shuffledAnswerIndexs[2]]);

            questionDiv.appendChild(idParagraph);

            questionDiv.appendChild(answerAinput);
            questionDiv.appendChild(answerBinput);
            questionDiv.appendChild(answerCinput);

            testDiv.appendChild(questionDiv);
        }

        makeQuestionsData = () => {
            const questions = [];
            let nextQuestion;
            let answersGer;

            {% for question in all_questions %}
                nextQuestion = {};
                nextQuestion.questionGer = '{{ question.question_ger }}';
                nextQuestion.mainTopicGer = '{{ question.main_topic_ger }}';
                answersGer = [];
                answersGer.push('{{ question.answer_a_ger }}');
                answersGer.push('{{ question.answer_b_ger }}');
                answersGer.push('{{ question.answer_c_ger }}');
                nextQuestion.answersGer = answersGer;
                nextQuestion.correctAnswerGer = '{{ question.correct_answer_ger }}';
                questions.push(nextQuestion);
            {% endfor %}

            return questions;
        }

        translateTopicToTopicIdData = (topicText) => {
            let topicIdData;
            switch(topicText) {
                case 'Fischkunde und -hege':
                    topicIdData = 1;
                    break;
                case 'Pflege der Fischgewässer':
                    topicIdData = 2;
                    break;
                case 'Fanggeräte und deren Gebrauch':
                    topicIdData = 3;
                    break;
                case 'Behandlung der gefangenen Fische':
                    topicIdData = 4;
                    break;
                case 'Einschlägige Rechtsvorschriften':
                    topicIdData = 5;
                    break;
            }
            return topicIdData;
        }

        makeSelectedQuestionsData = () => {
            const selectedQuestionIds = chosseTestQuestionsIds().flat(Infinity);
            const allQuestions = makeQuestionsData();
            const selectedQuestions = [];
            let newQuestion;

            for(i=0;i<selectedQuestionIds.length;i++){
                newQuestion= {};
                newQuestion.questionGer = allQuestions[selectedQuestionIds[i]].questionGer;
                newQuestion.answersGer = allQuestions[selectedQuestionIds[i]].answersGer;
                newQuestion.correctAnswerGer = allQuestions[selectedQuestionIds[i]].correctAnswerGer;
                newQuestion.mainTopicGer = allQuestions[selectedQuestionIds[i]].mainTopicGer;
                selectedQuestions.push(newQuestion);
            }

            selectedQuestionsGlobal = selectedQuestions;


            return selectedQuestions;
        }

        removePreviousTest = () => {
            const testDiv = document.querySelector('#test');
            while(testDiv.firstChild){
                testDiv.removeChild(testDiv.firstChild);
            }
        }

        hideAllQuestions = () => {
            const allQuestionsDivs = document.querySelectorAll('div[data-topic]');
            for(let i=0;i<allQuestionsDivs.length;i++){
                allQuestionsDivs[i].style.display = 'none';
            }
        }

        showQuestionFromTopic = (topic) => {
            hideAllQuestions();
            const questionToShow = document.querySelectorAll(`div[data-topic="${topic}"]`);
            for(let i=0;i<questionToShow.length;i++){
                questionToShow[i].style.display = 'block';
            }
        }

        prepareTest = () => {
            removePreviousTest();
            const selectedQuestion = makeSelectedQuestionsData();
            for(i=0;i<selectedQuestion.length;i++){
                buildQuestionTemplate(i+1,selectedQuestion[i].questionGer,selectedQuestion[i].mainTopicGer, selectedQuestion[i].answersGer);
            }
            hideAllQuestions();
            showQuestionFromTopic(1);
        }

        prepareTest();

        const newTestButton = document.querySelector('#new-test-btn');
        const checkTestButton = document.querySelector('#check-test-btn');
        const hideAllQuestionsButton = document.querySelector('#hide-all-questions-btn');
        const showQuestions_1_Button = document.querySelector('#show-topic-1-questions-btn')
        const showQuestions_2_Button = document.querySelector('#show-topic-2-questions-btn')
        const showQuestions_3_Button = document.querySelector('#show-topic-3-questions-btn')
        const showQuestions_4_Button = document.querySelector('#show-topic-4-questions-btn')
        const showQuestions_5_Button = document.querySelector('#show-topic-5-questions-btn')

        newTestButton.addEventListener('click',prepareTest);

        getUserAnswers = () => {
            let userAnswers = [];

            for(i=0;i<60;i++){
                try {
                    userAnswers.push(document.querySelector(`input[name="answer-${i+1}"]:checked`).value);
                }
                catch (err){
                    userAnswers.push(null);
                }
            }
            return userAnswers;
        }

        getCorrectAnswer = (selectedQuestionsGlobal) => {
            const correctAnswerGer = [];
            for(i=0;i<selectedQuestionsGlobal.length;i++){
                correctAnswerGer.push(selectedQuestionsGlobal[i].correctAnswerGer);
            }
            return correctAnswerGer;
        }

        checkTest = () => {
            const correctAnswerResult = document.querySelector('#correct-answer-result');
            const userAnswers = getUserAnswers();
            const correctAnswer = getCorrectAnswer(selectedQuestionsGlobal);
            let points = 0;
            for(let i=0;i<userAnswers.length;i++){
                if(userAnswers[i]==correctAnswer[i]){
                    points++;
                }
            }
            correctAnswerResult.textContent = `correct answer: ${points}`;
            $('#exampleModal2').modal();
        }

        checkTestButton.addEventListener('click',checkTest);

        showQuestions_1_Button.addEventListener('click',
                function(){
                    showQuestionFromTopic(1)
            }
        );

        showQuestions_2_Button.addEventListener('click',
                function(){
                    showQuestionFromTopic(2)
            }
        );

        showQuestions_3_Button.addEventListener('click',
                function(){
                    showQuestionFromTopic(3)
            }
        );

        showQuestions_4_Button.addEventListener('click',
                function(){
                    showQuestionFromTopic(4)
            }
        );

        showQuestions_5_Button.addEventListener('click',
                function(){
                    showQuestionFromTopic(5)
            }
        );

    </script>
{% endblock %}