{% extends 'base.html' %}

{% block content %}
    <div class='text-center m-2 p-2 account-bg'>
        <h6 data-translate-flag='true'>aby uzyskać tłumaczenie na język polski najedź myszką na ikonę: <span class='flag-icon flag-icon-pl'></span> znajdującą się obok pytania lub odpowiedzi</h6>
        <button class='btn btn-secondary' type='button' id='new-test-btn'><i class="far fa-file"></i> new test</button>
        <button class='btn btn-secondary' type='button' id='check-test-btn'><i class="fas fa-tasks"></i> check test</button>
        <button class='btn btn-secondary' type='button' data-toggle="modal" data-target='#test-info-modal' id='check-test-btn'><i class="fas fa-info"></i> test info</button>
    </div>

    <div id='test'>
    </div>

    <h4 class='text-center'>next topic from this test</h4>
    <div class='row text-center m-2 p-2 account-bg'>
        <div class='col'>
            <button class='btn btn-secondary' type='button' id='show-topic-1-questions-btn'><i class="fas fa-fish"></i> fisch build</button>
        </div>
        <div class='col'>
            <button class='btn btn-secondary' type='button' id='show-topic-2-questions-btn'><i class="fas fa-hand-holding-water"></i> water protection</button>
        </div>
        <div class='col'>
            <button class='btn btn-secondary' type='button' id='show-topic-3-questions-btn'><i class="fas fa-fist-raised"></i> fishing equipment</button>
        </div>
        <div class='col'>
            <button class='btn btn-secondary' type='button' id='show-topic-4-questions-btn'><i class="fas fa-shopping-basket"></i> handling of caught fish</button>
        </div>
        <div class='col'>
            <button class='btn btn-secondary' type='button' id='show-topic-5-questions-btn'><i class="fas fa-gavel"></i> law</button>
        </div>
    </div>

    <div class="modal fade" id="test-info-modal" tabindex="-1" role="dialog" aria-labelledby="test-info-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id='test-info-modal-label'>Test info</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class='modal-body'>
              Test Info
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="test-answer-modal" tabindex="-1" role="dialog" aria-labelledby="test-answer-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="test-answer-modal-label">Test Results</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>correct answer:<span id='correct-answer-result'>0</span></p>
                <p>Fisch Build: <span id='fisch-build-results'>0</span></p>
                <p>Water protection: <span id='water-protection-results'>0</span></p>
                <p>Fisching equipment: <span id='fisching-equipment-results'>0</span></p>
                <p>Handling of cougthing fish: <span id='handling-of-caught-fish-results'>0</span></p>
                <p>Law: <span id='law-results'>0</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="far fa-copy"></i> try again</button>
                <button id='new-test-in-modal-btn' type="button" class="btn btn-secondary" data-dismiss='modal'><i class="far fa-check-circle"></i> new test</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block javascript %}
    <script>

        let selectedQuestionsGlobal = [];

        chooseQuestionBetween = (min,max) => {
            return Math.floor(Math.random()*(max-min+1))+min;
        }
        
        choose12uniqueQuestionBetween = (min,max) => {
            const questions = [];
            let newQuestion;
            do {
                newQuestion = chooseQuestionBetween(min,max);
                if(!questions.includes(newQuestion)){
                    questions.push(newQuestion)
                }
            } while(questions.length != 12);

            return questions
        }

        chosseTestQuestionsIds = () => {
            const testQuestionsId = [];
            testQuestionsId.push(choose12uniqueQuestionBetween(0,119));
            testQuestionsId.push(choose12uniqueQuestionBetween(120,239));
            testQuestionsId.push(choose12uniqueQuestionBetween(240,359));
            testQuestionsId.push(choose12uniqueQuestionBetween(360,479));
            testQuestionsId.push(choose12uniqueQuestionBetween(480,599));

            return testQuestionsId;
        }

        buildQuestionTemplateQuestionText = (questionNumer,questionText,questionTextPl) => {
            // results for example <p>1<span>. question text</span></p>
            const questionHeader = document.createElement('p');
            questionHeader.textContent = questionNumer;
            const questionTextSpan = document.createElement('span');
            questionTextSpan.textContent = `. ${questionText}`;
            const flagSpan = document.createElement('span');
            flagSpan.classList.add('flag-icon', 'flag-icon-pl','m-1');
            flagSpan.dataset.toggle='tooltip';
            flagSpan.dataset.placement='top';
            flagSpan.setAttribute('data-translate-flag','true');
            flagSpan.id = `question-${questionNumer}`;
            questionHeader.appendChild(questionTextSpan);
            questionHeader.appendChild(flagSpan);
            $(function(){
                $(`#question-${questionNumer}`).tooltip('dispose').tooltip({title:questionTextPl}).tooltip();
            })
            return questionHeader;
        }

        buildQuestionTemplateQuestionRadio = (answerNumber,radioValue,groupName,answerTextGer,answerTextPl) => {
            const radioDiv = document.createElement('div');
            radioDiv.classList.add('form-check');
            const radioBtn = document.createElement('input');
            radioBtn.type = 'radio';
            radioBtn.value = radioValue;
            radioBtn.classList.add('form-check-input');
            radioBtn.name = groupName;
            const radioLabel = buildQuestionTemplateQuestionRadioLabel(answerTextGer);
            const flagSpan = document.createElement('span');
            flagSpan.classList.add('flag-icon', 'flag-icon-pl','m-1');
            flagSpan.setAttribute('data-translate-flag','true');
            flagSpan.dataset.toggle='tooltip';
            flagSpan.dataset.placement='top';
            flagSpan.id = `${groupName}-${answerNumber}`;
            radioDiv.appendChild(radioBtn);
            radioDiv.appendChild(radioLabel);
            radioDiv.appendChild(flagSpan);
            $(function(){
                $(`#${groupName}-${answerNumber}`).tooltip('dispose').tooltip({title:answerTextPl}).tooltip();
            })
            return radioDiv;
        }

        buildQuestionTemplateQuestionRadioLabel = (text) => {
            const radioLabel = document.createElement('label');
            radioLabel.textContent = text;
            radioLabel.classList.add('form-check-label');
            return radioLabel;
        }

        shuffleQuestionsAnswer = () => {
            const array = [0,1,2];
            array.sort(()=>Math.random()-0.5);
            return array;
        }

        buildQuestionTemplate = (questionNumber,questionText,questionTextPl,topic,answersGer,answersPl) => {

            const shuffledAnswerIndexs = shuffleQuestionsAnswer(); // returns array 0,1,2 in random order

            const testDiv = document.querySelector('#test');

            const questionDiv = document.createElement('div');
            questionDiv.classList.add('form-check', 'account-bg','mx-2','my-2','py-2');
            questionDiv.dataset.topic = translateTopicToTopicIdData(topic);
            const idParagraph = buildQuestionTemplateQuestionText(questionNumber,questionText,questionTextPl);

            questionDiv.appendChild(idParagraph);

            let answerInput
            for(let i=0;i<3;i++){
                answerInput = buildQuestionTemplateQuestionRadio(i,answersGer[shuffledAnswerIndexs[i]],'answer-'+questionNumber,answersGer[shuffledAnswerIndexs[i]],answersPl[shuffledAnswerIndexs[i]]);
                questionDiv.appendChild(answerInput);
            }
            testDiv.appendChild(questionDiv);
        }

        makeQuestionsData = () => {
            const questions = [];
            let nextQuestion;
            let answersGer;

            {% for question in all_questions %}
                nextQuestion = {};
                nextQuestion.questionGer = '{{ question.question_ger }}';
                nextQuestion.questionPl = '{{ question.question_pl }}';
                nextQuestion.mainTopicGer = '{{ question.main_topic_ger }}';
                answersGer = [];
                answersGer.push('{{ question.answer_a_ger }}');
                answersGer.push('{{ question.answer_b_ger }}');
                answersGer.push('{{ question.answer_c_ger }}');
                nextQuestion.answersGer = answersGer;
                answersPl = [];
                answersPl.push('{{ question.answer_a_pl }}');
                answersPl.push('{{ question.answer_b_pl }}');
                answersPl.push('{{ question.answer_c_pl }}');
                nextQuestion.answersPl = answersPl;
                nextQuestion.correctAnswerGer = '{{ question.correct_answer_ger }}';
                questions.push(nextQuestion);
            {% endfor %}

            return questions;
        }

        translateTopicToTopicIdData = (topicText) => {
            let topicIdData;
            switch(topicText) {
                case 'Fischkunde und -hege':
                    topicIdData = 1;
                    break;
                case 'Pflege der Fischgewässer':
                    topicIdData = 2;
                    break;
                case 'Fanggeräte und deren Gebrauch':
                    topicIdData = 3;
                    break;
                case 'Behandlung der gefangenen Fische':
                    topicIdData = 4;
                    break;
                case 'Einschlägige Rechtsvorschriften':
                    topicIdData = 5;
                    break;
            }
            return topicIdData;
        }

        makeSelectedQuestionsData = () => {
            const selectedQuestionIds = chosseTestQuestionsIds().flat(Infinity);
            const allQuestions = makeQuestionsData();
            const selectedQuestions = [];
            let newQuestion;

            for(i=0;i<selectedQuestionIds.length;i++){
                newQuestion= {};
                newQuestion.questionGer = allQuestions[selectedQuestionIds[i]].questionGer;
                newQuestion.questionPl = allQuestions[selectedQuestionIds[i]].questionPl;
                newQuestion.answersGer = allQuestions[selectedQuestionIds[i]].answersGer;
                newQuestion.answersPl = allQuestions[selectedQuestionIds[i]].answersPl;
                newQuestion.correctAnswerGer = allQuestions[selectedQuestionIds[i]].correctAnswerGer;
                newQuestion.mainTopicGer = allQuestions[selectedQuestionIds[i]].mainTopicGer;
                selectedQuestions.push(newQuestion);
            }

            selectedQuestionsGlobal = selectedQuestions;

            return selectedQuestions;
        }

        removePreviousTest = () => {
            const testDiv = document.querySelector('#test');
            while(testDiv.firstChild){
                testDiv.removeChild(testDiv.firstChild);
            }
        }

        hideAllQuestions = () => {
            const allQuestionsDivs = document.querySelectorAll('div[data-topic]');
            for(let i=0;i<allQuestionsDivs.length;i++){
                allQuestionsDivs[i].style.display = 'none';
            }
        }

        showQuestionFromTopic = (topic) => {
            hideAllQuestions();
            const questionToShow = document.querySelectorAll(`div[data-topic="${topic}"]`);
            for(let i=0;i<questionToShow.length;i++){
                questionToShow[i].style.display = 'block';
            }
        }

        showHideTranslate = () => {
            let selectedLanguage = localStorage.getItem('language');
            const allTranslateFlag = document.querySelectorAll('[data-translate-flag="true"]');

            if(selectedLanguage=='de'){
                 for(let i=0;i<allTranslateFlag.length;i++){
                    allTranslateFlag[i].style.display='none';
                }
             } else {
                for(let i=0;i<allTranslateFlag.length;i++){
                    allTranslateFlag[i].style.display='inline-block'; // spans
                 }
                 allTranslateFlag[0].style.display='block'; // paragraph
            };
        }

        prepareTest = () => {
            removePreviousTest();
            const selectedQuestion = makeSelectedQuestionsData();
            for(i=0;i<selectedQuestion.length;i++){
                buildQuestionTemplate(i+1,selectedQuestion[i].questionGer,selectedQuestion[i].questionPl,selectedQuestion[i].mainTopicGer, selectedQuestion[i].answersGer,selectedQuestion[i].answersPl);
            }
            hideAllQuestions();
            showQuestionFromTopic(1);
            showHideTranslate();
        }

        prepareTest();

        const newTestButton = document.querySelector('#new-test-btn');
        const checkTestButton = document.querySelector('#check-test-btn');
        const hideAllQuestionsButton = document.querySelector('#hide-all-questions-btn');
        const showQuestions_1_Button = document.querySelector('#show-topic-1-questions-btn')
        const showQuestions_2_Button = document.querySelector('#show-topic-2-questions-btn')
        const showQuestions_3_Button = document.querySelector('#show-topic-3-questions-btn')
        const showQuestions_4_Button = document.querySelector('#show-topic-4-questions-btn')
        const showQuestions_5_Button = document.querySelector('#show-topic-5-questions-btn')

        newTestButton.addEventListener('click',prepareTest);

        getUserAnswers = () => {
            let userAnswers = [];

            for(i=0;i<60;i++){
                try {
                    userAnswers.push(document.querySelector(`input[name="answer-${i+1}"]:checked`).value);
                }
                catch (err){
                    userAnswers.push(null);
                }
            }
            return userAnswers;
        }

        getCorrectAnswer = (selectedQuestionsGlobal) => {
            const correctAnswerGer = [];

            for(i=0;i<selectedQuestionsGlobal.length;i++){
                correctAnswerGer.push(selectedQuestionsGlobal[i].correctAnswerGer);
            }
            return correctAnswerGer;
        }

        checkTest = () => {
            const correctAnswerResult = document.querySelector('#correct-answer-result');
            const fischBuildResults = document.querySelector('#fisch-build-results');
            const waterProtectionResults = document.querySelector('#water-protection-results');
            const fischingEquipmentResults = document.querySelector('#fisching-equipment-results');
            const handlingOfCoughtFishResults = document.querySelector('#handling-of-caught-fish-results');
            const lawResults = document.querySelector('#law-results');
           
            const userAnswers = getUserAnswers();
            const correctAnswer = getCorrectAnswer(selectedQuestionsGlobal);

            let points = 0;
            let pointsFischBuild = 0;
            let pointsWaterProtection = 0;
            let pointsFishingEquipment = 0;
            let pointsHandlingOfCouthFish = 0;
            let pointsLaw = 0;

            for(let i=0;i<userAnswers.length;i++){
                if(userAnswers[i]==correctAnswer[i]){
                    points++;
                    if(i<=11){
                        pointsFischBuild++;
                    }
                    if(i>11 && i<=23){
                        pointsWaterProtection++;
                    }
                    if(i>23 && i<=35){
                        pointsFishingEquipment++;
                    }
                    if(i>35 && i<=47){
                        pointsHandlingOfCouthFish++;
                    }
                    if(i>47 && i<=59){
                        pointsLaw++;
                    }
                }
            }

            correctAnswerResult.textContent = points;
            fischBuildResults.textContent = ` ${pointsFischBuild} (${(pointsFischBuild/12 * 100).toFixed(2)}%)`; // format: (100.00%)
            waterProtectionResults.textContent = ` ${pointsWaterProtection} (${(pointsWaterProtection/12 * 100).toFixed(2)}%)`;
            fischingEquipmentResults.textContent = ` ${pointsFishingEquipment} (${(pointsFishingEquipment/12 * 100).toFixed(2)}%)`;
            handlingOfCoughtFishResults.textContent = ` ${pointsHandlingOfCouthFish} (${(pointsHandlingOfCouthFish/12 * 100).toFixed(2)}%)`;
            lawResults.textContent =  ` ${pointsLaw} (${(pointsLaw/12 * 100).toFixed(2)}%)`;

            $('#test-answer-modal').modal();
        }

        checkTestButton.addEventListener('click',checkTest);

        showQuestions_1_Button.addEventListener('click',
                function(){
                    showQuestionFromTopic(1)
            }
        );

        showQuestions_2_Button.addEventListener('click',
                function(){
                    showQuestionFromTopic(2)
            }
        );

        showQuestions_3_Button.addEventListener('click',
                function(){
                    showQuestionFromTopic(3)
            }
        );

        showQuestions_4_Button.addEventListener('click',
                function(){
                    showQuestionFromTopic(4)
            }
        );

        showQuestions_5_Button.addEventListener('click',
                function(){
                    showQuestionFromTopic(5)
            }
        );

        const newTestInModatBtn = document.querySelector('#new-test-in-modal-btn');

        newTestInModatBtn.addEventListener('click',prepareTest);

    </script>
{% endblock %}